<div> Id: {{blogDetail.blogID}} </div>
<div> Title: {{blogDetail.title}} </div>
<div> Content: {{blogDetail.content}} </div> 
<div> Image: {{blogDetail.imageUrl}} </div>
<div> Last UpdateDay: {{blogDetail.lastUpdateDay| date:"MM/dd/yyyy"}}</div>
<div> Comment: {{blogDetail.numberOfComment}} </div>
 <div> Like: {{blogDetail.numberOfLike}} </div>
 <div> Published Day: {{blogDetail.publishedDay| date:"MM/dd/yyyy"}} </div>
 <div> Author : {{blogDetail.authorName}} </div>
 <div ng-show="blogDetail.userID == blogView.currentUserID">
  <button class="btn btn-primary" ng-click="commentBlog()">Edit </button>
   <button class="btn btn-primary" ng-click="commentBlog()">Hide this blog</button>
   </div>
 <button class="btn btn-primary" ng-click="commentBlog()">Comment</button> 
 
    <button  class="btn  btn-primary"  ng-click="showAllBlog()">Back to list</button>