
<button  class="btn  btn-primary"  ng-click="showAllBlog()">Back to list</button>

<div class="col-lg-8">

            <!-- Blog Post -->
        <!-- Title -->
        <h1>{{blogDetail.title}}</h1>

        <!-- Author -->
        <p class="lead">
            by <a href="#">{{blogDetail.authorName}}</a> update: {{blogDetail.publishedDay| date:"MM/dd/yyyy"}}
        </p>
        <hr>
        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>
        <hr>
        <!-- Preview Image -->
        <img class="img-responsive" ng-src="{{blogDetail.imageUrl}}" alt=""> 
        <hr>

        <!-- Post Content -->
        <p class="lead"> {{blogDetail.content}}</p>
        <hr> 
        <div> 
            <i class="fa fa-comment" aria-hidden="true"></i>  Comment: {{blogDetail.numberOfComment}}
           <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like: {{blogDetail.numberOfLike}} 
       </div>
        <!-- Comments Form -->
        <div class="well">
        <button type="button" ng-click="likeBlog()" class="btn btn-primary">Like</button>
            <h4>Leave a Comment:</h4>
            <form role="form" ng-submit="commentBlog()">
                <div class="form-group">
                    <textarea ng-model="commentDto.content" class="form-control" rows="3"></textarea>
                </div>
                <button type="button" ng-click="commentBlog()" class="btn btn-primary">Done</button>
            </form>
        </div>

        <hr>
 
        

        <!-- Comment -->
        <div ng-repeat="comment in commentList " class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/boy-128.png" alt=""> 
            </a>
            <div class="media-body">   {{comment.authorName}}
                <h4 class="media-heading">
                    <small>{{comment.commentTime| date:"MM/dd/yyyy"}}</small>
                </h4>
               {{comment.content}}
            </div>
        </div>

    </div> 
    <div class="col-lg-4">
        
     <div ng-show="blogDetail.userID == blogView.currentUserID">
      <button class="btn btn-primary" ng-click="editBlog()">Edit </button>
      
       <button ng-show=".blogView.listType == 'publish'" class="btn btn-primary" ng-click="hideBlog()">Hide this blog</button>
       <button ng-show=".blogView.listType == 'draft'" class="btn btn-primary" ng-click="publishBlog()">Publish this blog</button>
       </div>
   </div>  
   