<div ng-init="showAllBlog()">
<table class="table-hover table-bordered">
    <tr>
      <th>Image </th>
      <th>Title</th>
      <th>Author</th>
      <th>Content</th>
      <th>Last update</th>
      
      <td>Comment</td>
      <td>Like</td>
  </tr>
  <tr ng-click="viewDetailBlog($index)" ng-repeat="blog in blogs | orderBy : 'lastUpdateDay'">
      <td class="blog-list-img"><img alt="avatar" ng-src="blog.imageUrl"></td>
      <td>{{blog.title}}</td>
      <td>{{blog.authorName}}</td>
      <td>{{blog.content}}</td>
      <td>{{blog.lastUpdateDay| date:"MM/dd/yyyy"}}</td>
      
      <td>{{blog.numberOfComment}}</td>
      <td>{{blog.numberOfLike}}</td>
  </tr>
</table>
<button ng-click="createBlog()" type="button" class="btn btn-primary" >Create new Blog</button>
<button ng-click="showMyBlog()" type="button" class="btn btn-primary" >View my Blog</button>
</div>