<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>My blog</title>
<link rel="stylesheet" type="text/css" href="/resources/css/font-awesome.min.css"></link>
 <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"></link>
 
</head>
<body ng-app="myApp" >
  <section ng-controller="BlogController" >
  
    <ng-include src="blogView.url"></ng-include>
   </section> 
    <a href="/home">Back to home</a>
        <script src="/resources/js/lib/angular.min.js"></script>
         <script src="/resources/js/lib/angular-resource.js"></script>
         <script src="/resources/js/lib/angular-route.js"></script>
      <script src="/resources/js/app.js"></script>
      <script src="/resources/js/service/blog_service.js"></script>
      <script src="/resources/js/controller/blog_controller.js"></script>
</body>
</html> 