<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>My blog</title>
</head>
<body>
	<h2>Welcome to system <p th:text="${session.fullname}"></p></h2>
  <p th:text="${session.userId}"></p>
    <p th:text="${session.role}"></p>
	<form action="/blogApp" method="get">
		<input type="submit" value="View all Blogs" />
	</form>

	<form action="/listBlog" method="get">
		<input type="hidden" name="id" value="${sessionScope.userId}" /> <input
			type="submit" value="View my blogs" />
	</form>

	<form action="/profile" method="get">
		<input type="hidden" name="id" value="${sessionScope.userId}" /> <input
			type="submit" value="View my profile" />
	</form>

	<form th:action="@{/logout}" method="POST">
         <input type="submit" value="Log out"/>
    </form>
    


</body>
</html>

