<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <title>Sign up new account</title>
  </head>

  <body>
     <form th:action="@{/signup}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
             <div th:if="${param.usn}">
                Username from 6-40 characters
            </div>
              <div th:if="${param.ext}">
                Username exist!!!
            </div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
             <div th:if="${param.pas}">
                Password from 6-40 characters
            </div>
            <div><label> Retype Password: <input type="password" name="confirmPassword"/> </label></div>
             <div th:if="${param.cfp}">
                Password confirm not valid
            </div>
            <div><label> Full name: <input type="text" name="fullname"/> </label></div>
             <div th:if="${param.fln}">
                 Fullname from 4-60 characters
              </div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        <a href="/login">I have an account already</a>
  </body>
</html>