<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <title>Sign up new account</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/font-awesome.min.css"></link>
        <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="/resources/css/custom.css"></link>
  </head>

  <body>
     <form class="form-center" th:action="@{/signup}" method="post">
            <div class="form-group">
              <label for="username">Username:</label>
              <input name="username" type="text" class="form-control"/>
            </div>
             <span class="label label-danger" th:if="${param.usn}">
                Username from 6-40 characters
              </span> 
              <span class="label label-danger"  th:if="${param.ext}">
                Username exist!!!
             </span> 
            <div class="form-group">
              <label for="password">Password:</label>
              <input name="password" type="password" class="form-control"/>
            </div>
            
             <span class="label label-danger" th:if="${param.pas}">
                Password from 6-40 characters
             </span>
             <div class="form-group">
              <label for="confirmPassword"> Retype Password:</label>
              <input name="confirmPassword" type="password" class="form-control"/>
            </div> 
             <span class="label label-danger" th:if="${param.cfp}">
                Password confirm not valid
              </span>
             <div class="form-group">
              <label for="fullname"> Full name :</label>
              <input name="fullname" type="text" class="form-control"/>
            </div> 
              <span class="label label-danger" th:if="${param.fln}">
                 Fullname from 4-60 characters
              </span>
            <div><input class="btn btn-success" type="submit" value="Sign In"/></div>
        </form>
        <a href="/login">I have an account already</a>
  </body>
</html>